[Desktop Entry]
Type=Application
Name=capanalysis stop
GenericName=CapAnalysis Service
Comment=service capanalysis stop
TryExec=/etc/init.d/capanalysis
Exec=sh -c "sudo service capanalysis stop; echo; bash"
Icon=utilities-terminal
Terminal=true
Categories=System;Monitor;
